 @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}
body {
    font-family: 'Rubik', sans-serif;
}

$ligth: #ffffff;
$gray: #c4ccde;
$naranja: orangered;

.Navbar {  
    background-color:  black;
    padding: 1rem 2rem;
    border-bottom: 5px solid $naranja;
    color: white;
    display: flex;
    justify-content: center;
}

.logo{
    width: 250px;
    height: 70px;
}

.Sidebar {
    width: 14rem;
    border-right: 2px solid $naranja ;
    background-color: black;
    ul {
      list-style: none;  
      padding: 1rem 2rem;
      li {
        margin-bottom: 1rem;
        a{
            text-decoration: none;
        }
      }
    }
}

.bg-curso {
    background-color: violet ;
}